[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
ucmaxl = {editable = true, ref = "main", git = "https://github.com/jeokrohn/ucmaxl"}
pyyaml = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
