[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
zeep = "*"
pydantic = "*"
requests = "*"
urllib3 = "*"
aiohttp = "*"
pyyaml = "*"
wxc-sdk = ">=1.3.0"

[dev-packages]

[requires]
python_version = "3.9"
