-i https://pypi.org/simple
attrs==23.1.0
certifi==2023.5.7
charset-normalizer==3.1.0
idna==3.4
isodate==0.6.1
lxml==4.9.2
platformdirs==3.5.1
pydantic==1.10.8
python-dotenv==0.21.1
pytz==2023.3
pyyaml==6.0
requests==2.31.0
requests-file==1.5.1
requests-toolbelt==1.0.0
six==1.16.0
typing-extensions==4.6.2
-e git+https://github.com/jeokrohn/ucmaxl@41fd647731fc8176f1c59a081598b627607814cc#egg=ucmaxl
urllib3==1.26.16
zeep==4.2.1
